<button id="addIssueBtn" data-target="#addIssueModal" type="button" class="btn btn-primary add-btn" data-toggle="modal" data-whatever="@getbootstrap" >Add Issue</button>

<div id="addIssueModal" aria-labelledby="exampleLabel" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleLabel">Add Project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="add-issue-name" class="col-form-label">Issue Name:</label>
            <input type="text" class="form-control" id="add-issue-name" placeholder="name" required>
          </div>
          <div class="form-group">
            <label for="add-issue-description" class="col-form-label">Description:</label>
            <textarea class="form-control" id="add-issue-description" placeholder="description" required></textarea>
          </div>
        </form>
        <div class="form-group">
            <label for="add-issue-project">Project ID:</label>
            <select class="form-control" id="add-issue-project">
              <option></option>
              {{#each projects}}
                {{#if projectID}}
                  <option>{{projectID}} &nbsp : &nbsp {{name}}</option> 
                {{/if}}
              {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label for="add-issue-status">Status ID:</label>
            <select class="form-control" id="add-issue-status">
              <option></option>
              {{#each statuses}}
                {{#if statusID}}
                  <option>{{statusID}} &nbsp : &nbsp {{statusType}}</option> 
                {{/if}}
              {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label for="add-issue-priority">Priority ID:</label>
            <select class="form-control" id="add-issue-priority">
                <option></option>
              {{#each priorities}}
                {{#if priorityID}}
                  <option>{{priorityID}} &nbsp : &nbsp {{priorityType}}</option> 
                {{/if}}
              {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label for="add-issue-date-raised">Date Raised</label>
            <input type="date" class="form-control" id="add-issue-date-raised" placeholder="mm/dd/yyyy" required>
        </div>
        <div class="form-group">
            <label for="add-issue-date-closed">Date Closed</label>
            <input type="date" class="form-control" id="add-issue-date-closed" placeholder="mm/dd/yyyy">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Add Issue</button>
      </div>
    </div>
  </div>
</div>
