<button id="addIssueBtn" data-target="#addIssueModal" type="button" class="btn btn-primary add-btn" data-toggle="modal" data-whatever="@getbootstrap" >Add Issue</button>

<div id="addIssueModal" aria-labelledby="exampleLabel" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleLabel">Add Issue</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/issues/new_issue" id="add_issue_form" method="POST">
          <div class="form-group">
            <label for="modal_add_issue_name" class="col-form-label">Issue Name:</label>
            <input type="text" class="form-control" id="modal_add_issue_name" name="modal_add_issue_name" placeholder="name" required>
          </div>
          <div class="form-group">
            <label for="modal_add_issue_description" class="col-form-label">Description:</label>
            <textarea class="form-control" id="modal_add_issue_description" name="modal_add_issue_description" placeholder="description" required></textarea>
          </div>
          <div class="form-group">
              <label for="modal_add_issue_project">Project ID:</label>
              <select class="form-control" id="modal_add_issue_project" name="modal_add_issue_project">
                <option></option>
                {{#each projects}}
                  {{#if projectID}}
                    <option>{{projectID}} &nbsp : &nbsp {{name}}</option> 
                  {{/if}}
                {{/each}}
              </select>
          </div>
          <div class="form-group">
              <label for="modal_add_issue_status">Status ID:</label>
              <select class="form-control" id="modal_add_issue_status" name="modal_add_issue_status">
                <option></option>
                {{#each statuses}}
                  {{#if statusID}}
                    <option>{{statusID}} &nbsp : &nbsp {{statusType}}</option> 
                  {{/if}}
                {{/each}}
              </select>
          </div>
          <div class="form-group">
              <label for="modal_add_issue_priority">Priority ID:</label>
              <select class="form-control" id="modal_add_issue_priority" name="modal_add_issue_priority">
                <option></option>
                {{#each priorities}}
                  {{#if priorityID}}
                    <option>{{priorityID}} &nbsp : &nbsp {{priorityType}}</option> 
                  {{/if}}
                {{/each}}
              </select>
          </div>
          <div class="form-group">
              <label for="modal_add_issue_date_raised">Date Raised</label>
              <input type="date" class="form-control" id="modal_add_issue_date_raised" name="modal_add_issue_date_raised" placeholder="mm/dd/yyyy" required>
          </div>
          <div class="form-group">
              <label for="modal_add_issue_date_closed">Date Closed</label>
              <input type="date" class="form-control" id="modal_add_issue_date_closed" name="modal_add_issue_date_closed" placeholder="mm/dd/yyyy">
          </div>
        
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Add Issue</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="/scripts/add_issue.js"></script>

