<h1 class="page-title">Issue Manager</h1>

<div class="page-notes">
  <div>Notes:</div>
  <ul>
      <li>Click the row to update/delete</li>
      <li>Click people icon to view users assigned to the issue</li>
  </ul> 
</div>

{{!-- Handlebars call to add_project_modal.hbs partial --}}
{{> add_issue_modal}}

<table>
  <thead>
    <tr>
      <th scope="col">Issue ID</th>
      <th scope="col">Issue Name</th>
      <th scope="col">Description</th>
      <th scope="col">Project ID</th>
      <th scope="col">Status ID</th>
      <th scope="col">Priority ID</th>
      <th scope="col">Date Raised</th>
      <th scope="col">Date Closed</th>
    </tr>
  </thead>
  <tbody>
        {{!-- Handlebars building dynamic table from app.get request--}}
    {{#each results}}
      {{#if issueID}}
        <tr class="table-issues">
          <td scope="row" class="table-id">{{issueID}}</td>
          <td class="table-name">{{name}}</td>
          <td class="table-description">{{description}}</td>
          <td class="table-project-id">{{projectID}}</td>
          <td class="table-status-id">{{statusID}}</td>
          <td class="table-priority-id">{{priorityID}}</td>
          <td class="table-date-raised">{{dateRaised}}</td>
          <td class="table-date-closed">{{dateClosed}}</td>
          <td class="assigned-users">
            <span class="users-btn material-icons">people_alt</span>
          </td>
        </tr>
      {{/if}}
    {{/each}}
  </tbody>
</table>

{{!-- Handlebars call to view_assigned_users_modal.hbs partial --}}
{{> view_assigned_users_modal}}

{{!-- Handlebars call to update_project_modal.hbs partial --}}
{{> update_issue_modal}}